* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.container-header {
    display: flex;
    justify-content: space-around;
    height: 15vh;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    width: 800px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header nav ul li a {
    text-decoration: none;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 500;
}

#home-area {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#home-area .content {
    padding-right: 25px;
}

#home-area div .title {
    width: 600px;
    font-size: 4.2rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

#home-area div .subtitle {
    width: 550px;
    margin-top: 25px;
    font-size: 1.5rem;
}

#home-area div.btn {
    margin-top: 40px;
}

#home-area .btn a {
    text-decoration: none;
    padding: 12px 30px;
    border:  2px solid #000;
    border-radius: 5px;
}

#home-area div img.img-banner {
    width: 400px;
    height: auto;
    padding-right: 25px;
}

#home-area div img.img-banner {
    animation: flutuacao 10s ease-in-out infinite;
}
@keyframes flutuacao{
    0%, 100% { 
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-100px);
    }
}

/* segunda sessão do site */

section .container-feature {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div .container-header-feature h2 {
    font-size: 2.3rem;
    font-weight: 900;
    text-align: center;
}
div .container-header-feature p {
    margin-top: 20px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

section div .container-about-banner {
    height: 70vh;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

div .about-banner img {
    position: relative;
    top: 80px;
    display: flex;
    width: 350px;
}

article .container-box {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
}

article.about-colum div .block {
    margin: 20px;
    height: 350px;
    width: 250px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 25px;
}