* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.container-header {
    display: flex;
    justify-content: space-around;
    height: 10vh;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    width: 800px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header nav ul li a {
    text-decoration: none;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

#home-area {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-area .content {
    padding-right: 25px;
}

#home-area div .title {
    width: 500px;
    font-size: 3.5rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

#home-area div .subtitle {
    width: 450px;
    margin-top: 25px;
    font-size: 1.2rem;
}

#home-area div.btn {
    margin-top: 40px;
}

#home-area .btn a {
    text-decoration: none;
    padding: 12px 30px;
    border:  2px solid #000;
    border-radius: 5px;
}

#home-area div img.img-banner {
    width: 400px;
    height: auto;
    padding-right: 25px;
}

#home-area div img.img-banner {
    animation: flutuacao 10s ease-in-out infinite;
}
@keyframes flutuacao{
    0%, 100% { 
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-100px);
    }
}

/* segunda sessão do site */

section .container-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section div .container-about-banner {
    display: flex;
}

div .about-banner img {
    width: 400px;
}

article.about-colum div .block {
    width: 250px;
    border: 2px solid black;
}